In [1]:
using Pkg

In [ ]:
Pkg.add("DataFrames")

   Updating registry at `C:\Users\bishw\.julia\registries\General`

In [2]:
using DataFrames

In [3]:
DataFrame(A = 1:4, B = rand(4))

4×2 DataFrame
│ Row │ A     │ B        │
│     │ Int64 │ Float64  │
├─────┼───────┼──────────┤
│ 1   │ 1     │ 0.734621 │
│ 2   │ 2     │ 0.944791 │
│ 3   │ 3     │ 0.152635 │
│ 4   │ 4     │ 0.920613 │

In [4]:
df = DataFrame(rand(10,3))

10×3 DataFrame
│ Row │ x1        │ x2        │ x3        │
│     │ Float64   │ Float64   │ Float64   │
├─────┼───────────┼───────────┼───────────┤
│ 1   │ 0.96464   │ 0.564373  │ 0.230532  │
│ 2   │ 0.527552  │ 0.102327  │ 0.0215169 │
│ 3   │ 0.766339  │ 0.131121  │ 0.934697  │
│ 4   │ 0.872853  │ 0.0278844 │ 0.959453  │
│ 5   │ 0.12567   │ 0.805258  │ 0.0496976 │
│ 6   │ 0.436172  │ 0.0416481 │ 0.81597   │
│ 7   │ 0.786183  │ 0.800423  │ 0.487825  │
│ 8   │ 0.473393  │ 0.761692  │ 0.187777  │
│ 9   │ 0.417283  │ 0.43573   │ 0.791492  │
│ 10  │ 0.0992364 │ 0.703291  │ 0.782124  │

In [5]:
Matrix(df)

10×3 Array{Float64,2}:
 0.96464    0.564373   0.230532
 0.527552   0.102327   0.0215169
 0.766339   0.131121   0.934697
 0.872853   0.0278844  0.959453
 0.12567    0.805258   0.0496976
 0.436172   0.0416481  0.81597
 0.786183   0.800423   0.487825
 0.473393   0.761692   0.187777
 0.417283   0.43573    0.791492
 0.0992364  0.703291   0.782124

In [ ]:
Pkg.add("Tables")

In [6]:
using Tables

In [7]:
tb = Tables.columntable(df)

(x1 = [0.9646397974279004, 0.5275518472159957, 0.7663385207324531, 0.8728532730533571, 0.12567005579031587, 0.43617188312326016, 0.7861832089670413, 0.47339299353694786, 0.4172833864609653, 0.09923642460035254], x2 = [0.5643731679608555, 0.10232725258969833, 0.1311213472538615, 0.02788437140254829, 0.8052578418173766, 0.041648072131448055, 0.800423425736966, 0.7616916589400888, 0.43572953991531604, 0.7032907937792225], x3 = [0.23053216746712413, 0.021516852196594494, 0.9346969198219717, 0.9594534356262001, 0.04969759935480833, 0.8159698516453162, 0.48782455158997995, 0.1877774537042467, 0.7914919257910615, 0.7821241026344197])

In [8]:
typeof(tb)

NamedTuple{(:x1, :x2, :x3),Tuple{Array{Float64,1},Array{Float64,1},Array{Float64,1}}}

In [9]:
tb.x1

10-element Array{Float64,1}:
 0.9646397974279004
 0.5275518472159957
 0.7663385207324531
 0.8728532730533571
 0.12567005579031587
 0.43617188312326016
 0.7861832089670413
 0.47339299353694786
 0.4172833864609653
 0.09923642460035254

# Grab column names of Data Frame

In [13]:
names(df)

3-element Array{String,1}:
 "x1"
 "x2"
 "x3"

In [16]:
size(df)

(10, 3)

In [17]:
nrow(df)

10

In [18]:
ncol(df)

3

In [19]:
describe(df)

3×8 DataFrame. Omitted printing of 2 columns
│ Row │ variable │ mean     │ min       │ median   │ max      │ nunique │
│     │ Symbol   │ Float64  │ Float64   │ Float64  │ Float64  │ Nothing │
├─────┼──────────┼──────────┼───────────┼──────────┼──────────┼─────────┤
│ 1   │ x1       │ 0.546932 │ 0.0992364 │ 0.500472 │ 0.96464  │         │
│ 2   │ x2       │ 0.437375 │ 0.0278844 │ 0.500051 │ 0.805258 │         │
│ 3   │ x3       │ 0.526108 │ 0.0215169 │ 0.634974 │ 0.959453 │         │

In [20]:
describe(df, cols = 1:2 )

2×8 DataFrame. Omitted printing of 2 columns
│ Row │ variable │ mean     │ min       │ median   │ max      │ nunique │
│     │ Symbol   │ Float64  │ Float64   │ Float64  │ Float64  │ Nothing │
├─────┼──────────┼──────────┼───────────┼──────────┼──────────┼─────────┤
│ 1   │ x1       │ 0.546932 │ 0.0992364 │ 0.500472 │ 0.96464  │         │
│ 2   │ x2       │ 0.437375 │ 0.0278844 │ 0.500051 │ 0.805258 │         │

# Gran data type of each cols in a df

In [24]:
eltype.(eachcol(df))

3-element Array{DataType,1}:
 Float64
 Float64
 Float64

In [25]:
first(df)

DataFrameRow
│ Row │ x1      │ x2       │ x3       │
│     │ Float64 │ Float64  │ Float64  │
├─────┼─────────┼──────────┼──────────┤
│ 1   │ 0.96464 │ 0.564373 │ 0.230532 │

# Head like in Pandas

In [28]:
first(df, 4)

4×3 DataFrame
│ Row │ x1       │ x2        │ x3        │
│     │ Float64  │ Float64   │ Float64   │
├─────┼──────────┼───────────┼───────────┤
│ 1   │ 0.96464  │ 0.564373  │ 0.230532  │
│ 2   │ 0.527552 │ 0.102327  │ 0.0215169 │
│ 3   │ 0.766339 │ 0.131121  │ 0.934697  │
│ 4   │ 0.872853 │ 0.0278844 │ 0.959453  │

In [29]:
last(df, 3)

3×3 DataFrame
│ Row │ x1        │ x2       │ x3       │
│     │ Float64   │ Float64  │ Float64  │
├─────┼───────────┼──────────┼──────────┤
│ 1   │ 0.473393  │ 0.761692 │ 0.187777 │
│ 2   │ 0.417283  │ 0.43573  │ 0.791492 │
│ 3   │ 0.0992364 │ 0.703291 │ 0.782124 │

## df[row_start_index:row_end_index , col_start_index:col_stop_index]

In [35]:
df[1:7,1:2]

7×2 DataFrame
│ Row │ x1       │ x2        │
│     │ Float64  │ Float64   │
├─────┼──────────┼───────────┤
│ 1   │ 0.96464  │ 0.564373  │
│ 2   │ 0.527552 │ 0.102327  │
│ 3   │ 0.766339 │ 0.131121  │
│ 4   │ 0.872853 │ 0.0278844 │
│ 5   │ 0.12567  │ 0.805258  │
│ 6   │ 0.436172 │ 0.0416481 │
│ 7   │ 0.786183 │ 0.800423  │

In [31]:
df[3]

10-element Array{Float64,1}:
 0.23053216746712413
 0.021516852196594494
 0.9346969198219717
 0.9594534356262001
 0.04969759935480833
 0.8159698516453162
 0.48782455158997995
 0.1877774537042467
 0.7914919257910615
 0.7821241026344197

In [36]:
df[:, Between(:x2, :x3)]

10×2 DataFrame
│ Row │ x2        │ x3        │
│     │ Float64   │ Float64   │
├─────┼───────────┼───────────┤
│ 1   │ 0.564373  │ 0.230532  │
│ 2   │ 0.102327  │ 0.0215169 │
│ 3   │ 0.131121  │ 0.934697  │
│ 4   │ 0.0278844 │ 0.959453  │
│ 5   │ 0.805258  │ 0.0496976 │
│ 6   │ 0.0416481 │ 0.81597   │
│ 7   │ 0.800423  │ 0.487825  │
│ 8   │ 0.761692  │ 0.187777  │
│ 9   │ 0.43573   │ 0.791492  │
│ 10  │ 0.703291  │ 0.782124  │

In [37]:
df.x4 = rand(10)

10-element Array{Float64,1}:
 0.15196681074230156
 0.7713193526485806
 0.07961296847253418
 0.5274001871267886
 0.5871892557008938
 0.03904583622622937
 0.0661020852753409
 0.6839713677066606
 0.6060026978375959
 0.7328737085966832

In [38]:
df

10×4 DataFrame
│ Row │ x1        │ x2        │ x3        │ x4        │
│     │ Float64   │ Float64   │ Float64   │ Float64   │
├─────┼───────────┼───────────┼───────────┼───────────┤
│ 1   │ 0.96464   │ 0.564373  │ 0.230532  │ 0.151967  │
│ 2   │ 0.527552  │ 0.102327  │ 0.0215169 │ 0.771319  │
│ 3   │ 0.766339  │ 0.131121  │ 0.934697  │ 0.079613  │
│ 4   │ 0.872853  │ 0.0278844 │ 0.959453  │ 0.5274    │
│ 5   │ 0.12567   │ 0.805258  │ 0.0496976 │ 0.587189  │
│ 6   │ 0.436172  │ 0.0416481 │ 0.81597   │ 0.0390458 │
│ 7   │ 0.786183  │ 0.800423  │ 0.487825  │ 0.0661021 │
│ 8   │ 0.473393  │ 0.761692  │ 0.187777  │ 0.683971  │
│ 9   │ 0.417283  │ 0.43573   │ 0.791492  │ 0.606003  │
│ 10  │ 0.0992364 │ 0.703291  │ 0.782124  │ 0.732874  │

# Writing and Reading Df

In [39]:
using DataFrames

In [40]:
df = DataFrame(A = [true, false, true], B = [25, 45, 67], C = ['a','b','c'])

3×3 DataFrame
│ Row │ A    │ B     │ C    │
│     │ Bool │ Int64 │ Char │
├─────┼──────┼───────┼──────┤
│ 1   │ 1    │ 25    │ 'a'  │
│ 2   │ 0    │ 45    │ 'b'  │
│ 3   │ 1    │ 67    │ 'c'  │

# Write to csv

In [41]:
Pkg.add("CSV")

   Updating registry at `C:\Users\bishw\.julia\registries\General`
  Resolving package versions...
  Installed SentinelArrays ─ v1.2.16
  Installed CSV ──────────── v0.7.7
Updating `C:\Users\bishw\.julia\environments\v1.5\Project.toml`
  [336ed68f] + CSV v0.7.7
Updating `C:\Users\bishw\.julia\environments\v1.5\Manifest.toml`
  [336ed68f] + CSV v0.7.7
  [91c51154] + SentinelArrays v1.2.16

In [45]:
using CSV

┌ Info: Precompiling CSV [336ed68f-0bac-5ca0-87d4-7b16caf5d00b]
└ @ Base loading.jl:1278

In [27]:
tail(df)

6×3 DataFrame
│ Row │ x1        │ x2        │ x3        │
│     │ Float64   │ Float64   │ Float64   │
├─────┼───────────┼───────────┼───────────┤
│ 1   │ 0.12567   │ 0.805258  │ 0.0496976 │
│ 2   │ 0.436172  │ 0.0416481 │ 0.81597   │
│ 3   │ 0.786183  │ 0.800423  │ 0.487825  │
│ 4   │ 0.473393  │ 0.761692  │ 0.187777  │
│ 5   │ 0.417283  │ 0.43573   │ 0.791492  │
│ 6   │ 0.0992364 │ 0.703291  │ 0.782124  │

In [46]:
CSV.write("test.csv",df)

"test.csv"

In [47]:
CSV.read("test.csv")

3×3 DataFrame
│ Row │ A    │ B     │ C      │
│     │ Bool │ Int64 │ String │
├─────┼──────┼───────┼────────┤
│ 1   │ 1    │ 25    │ a      │
│ 2   │ 0    │ 45    │ b      │
│ 3   │ 1    │ 67    │ c      │