In [1]:
using Pkg

In [ ]:
Pkg.add("DataFrames")

   Updating registry at `C:\Users\bishw\.julia\registries\General`

In [2]:
using DataFrames

In [3]:
DataFrame(A = 1:4, B = rand(4))

4×2 DataFrame
│ Row │ A     │ B        │
│     │ Int64 │ Float64  │
├─────┼───────┼──────────┤
│ 1   │ 1     │ 0.734621 │
│ 2   │ 2     │ 0.944791 │
│ 3   │ 3     │ 0.152635 │
│ 4   │ 4     │ 0.920613 │

In [4]:
df = DataFrame(rand(10,3))

10×3 DataFrame
│ Row │ x1        │ x2        │ x3        │
│     │ Float64   │ Float64   │ Float64   │
├─────┼───────────┼───────────┼───────────┤
│ 1   │ 0.96464   │ 0.564373  │ 0.230532  │
│ 2   │ 0.527552  │ 0.102327  │ 0.0215169 │
│ 3   │ 0.766339  │ 0.131121  │ 0.934697  │
│ 4   │ 0.872853  │ 0.0278844 │ 0.959453  │
│ 5   │ 0.12567   │ 0.805258  │ 0.0496976 │
│ 6   │ 0.436172  │ 0.0416481 │ 0.81597   │
│ 7   │ 0.786183  │ 0.800423  │ 0.487825  │
│ 8   │ 0.473393  │ 0.761692  │ 0.187777  │
│ 9   │ 0.417283  │ 0.43573   │ 0.791492  │
│ 10  │ 0.0992364 │ 0.703291  │ 0.782124  │

In [5]:
Matrix(df)

10×3 Array{Float64,2}:
 0.96464    0.564373   0.230532
 0.527552   0.102327   0.0215169
 0.766339   0.131121   0.934697
 0.872853   0.0278844  0.959453
 0.12567    0.805258   0.0496976
 0.436172   0.0416481  0.81597
 0.786183   0.800423   0.487825
 0.473393   0.761692   0.187777
 0.417283   0.43573    0.791492
 0.0992364  0.703291   0.782124

In [ ]:
Pkg.add("Tables")

In [6]:
using Tables

In [7]:
tb = Tables.columntable(df)

(x1 = [0.9646397974279004, 0.5275518472159957, 0.7663385207324531, 0.8728532730533571, 0.12567005579031587, 0.43617188312326016, 0.7861832089670413, 0.47339299353694786, 0.4172833864609653, 0.09923642460035254], x2 = [0.5643731679608555, 0.10232725258969833, 0.1311213472538615, 0.02788437140254829, 0.8052578418173766, 0.041648072131448055, 0.800423425736966, 0.7616916589400888, 0.43572953991531604, 0.7032907937792225], x3 = [0.23053216746712413, 0.021516852196594494, 0.9346969198219717, 0.9594534356262001, 0.04969759935480833, 0.8159698516453162, 0.48782455158997995, 0.1877774537042467, 0.7914919257910615, 0.7821241026344197])

In [8]:
typeof(tb)

NamedTuple{(:x1, :x2, :x3),Tuple{Array{Float64,1},Array{Float64,1},Array{Float64,1}}}

In [9]:
tb.x1

10-element Array{Float64,1}:
 0.9646397974279004
 0.5275518472159957
 0.7663385207324531
 0.8728532730533571
 0.12567005579031587
 0.43617188312326016
 0.7861832089670413
 0.47339299353694786
 0.4172833864609653
 0.09923642460035254

# Grab column names of Data Frame

In [13]:
names(df)

3-element Array{String,1}:
 "x1"
 "x2"
 "x3"

In [16]:
size(df)

(10, 3)

In [17]:
nrow(df)

10

In [18]:
ncol(df)

3

In [19]:
describe(df)

3×8 DataFrame. Omitted printing of 2 columns
│ Row │ variable │ mean     │ min       │ median   │ max      │ nunique │
│     │ Symbol   │ Float64  │ Float64   │ Float64  │ Float64  │ Nothing │
├─────┼──────────┼──────────┼───────────┼──────────┼──────────┼─────────┤
│ 1   │ x1       │ 0.546932 │ 0.0992364 │ 0.500472 │ 0.96464  │         │
│ 2   │ x2       │ 0.437375 │ 0.0278844 │ 0.500051 │ 0.805258 │         │
│ 3   │ x3       │ 0.526108 │ 0.0215169 │ 0.634974 │ 0.959453 │         │

In [20]:
describe(df, cols = 1:2 )

2×8 DataFrame. Omitted printing of 2 columns
│ Row │ variable │ mean     │ min       │ median   │ max      │ nunique │
│     │ Symbol   │ Float64  │ Float64   │ Float64  │ Float64  │ Nothing │
├─────┼──────────┼──────────┼───────────┼──────────┼──────────┼─────────┤
│ 1   │ x1       │ 0.546932 │ 0.0992364 │ 0.500472 │ 0.96464  │         │
│ 2   │ x2       │ 0.437375 │ 0.0278844 │ 0.500051 │ 0.805258 │         │

# Gran data type of each cols in a df

In [24]:
eltype.(eachcol(df))

3-element Array{DataType,1}:
 Float64
 Float64
 Float64

In [25]:
first(df)

DataFrameRow
│ Row │ x1      │ x2       │ x3       │
│     │ Float64 │ Float64  │ Float64  │
├─────┼─────────┼──────────┼──────────┤
│ 1   │ 0.96464 │ 0.564373 │ 0.230532 │

# Head like in Pandas

In [28]:
first(df, 4)

4×3 DataFrame
│ Row │ x1       │ x2        │ x3        │
│     │ Float64  │ Float64   │ Float64   │
├─────┼──────────┼───────────┼───────────┤
│ 1   │ 0.96464  │ 0.564373  │ 0.230532  │
│ 2   │ 0.527552 │ 0.102327  │ 0.0215169 │
│ 3   │ 0.766339 │ 0.131121  │ 0.934697  │
│ 4   │ 0.872853 │ 0.0278844 │ 0.959453  │

In [29]:
last(df, 3)

3×3 DataFrame
│ Row │ x1        │ x2       │ x3       │
│     │ Float64   │ Float64  │ Float64  │
├─────┼───────────┼──────────┼──────────┤
│ 1   │ 0.473393  │ 0.761692 │ 0.187777 │
│ 2   │ 0.417283  │ 0.43573  │ 0.791492 │
│ 3   │ 0.0992364 │ 0.703291 │ 0.782124 │

## df[row_start_index:row_end_index , col_start_index:col_stop_index]

In [35]:
df[1:7,1:2]

7×2 DataFrame
│ Row │ x1       │ x2        │
│     │ Float64  │ Float64   │
├─────┼──────────┼───────────┤
│ 1   │ 0.96464  │ 0.564373  │
│ 2   │ 0.527552 │ 0.102327  │
│ 3   │ 0.766339 │ 0.131121  │
│ 4   │ 0.872853 │ 0.0278844 │
│ 5   │ 0.12567  │ 0.805258  │
│ 6   │ 0.436172 │ 0.0416481 │
│ 7   │ 0.786183 │ 0.800423  │

In [31]:
df[3]

10-element Array{Float64,1}:
 0.23053216746712413
 0.021516852196594494
 0.9346969198219717
 0.9594534356262001
 0.04969759935480833
 0.8159698516453162
 0.48782455158997995
 0.1877774537042467
 0.7914919257910615
 0.7821241026344197

In [36]:
df[:, Between(:x2, :x3)]

10×2 DataFrame
│ Row │ x2        │ x3        │
│     │ Float64   │ Float64   │
├─────┼───────────┼───────────┤
│ 1   │ 0.564373  │ 0.230532  │
│ 2   │ 0.102327  │ 0.0215169 │
│ 3   │ 0.131121  │ 0.934697  │
│ 4   │ 0.0278844 │ 0.959453  │
│ 5   │ 0.805258  │ 0.0496976 │
│ 6   │ 0.0416481 │ 0.81597   │
│ 7   │ 0.800423  │ 0.487825  │
│ 8   │ 0.761692  │ 0.187777  │
│ 9   │ 0.43573   │ 0.791492  │
│ 10  │ 0.703291  │ 0.782124  │

In [37]:
df.x4 = rand(10)

10-element Array{Float64,1}:
 0.15196681074230156
 0.7713193526485806
 0.07961296847253418
 0.5274001871267886
 0.5871892557008938
 0.03904583622622937
 0.0661020852753409
 0.6839713677066606
 0.6060026978375959
 0.7328737085966832

In [38]:
df

10×4 DataFrame
│ Row │ x1        │ x2        │ x3        │ x4        │
│     │ Float64   │ Float64   │ Float64   │ Float64   │
├─────┼───────────┼───────────┼───────────┼───────────┤
│ 1   │ 0.96464   │ 0.564373  │ 0.230532  │ 0.151967  │
│ 2   │ 0.527552  │ 0.102327  │ 0.0215169 │ 0.771319  │
│ 3   │ 0.766339  │ 0.131121  │ 0.934697  │ 0.079613  │
│ 4   │ 0.872853  │ 0.0278844 │ 0.959453  │ 0.5274    │
│ 5   │ 0.12567   │ 0.805258  │ 0.0496976 │ 0.587189  │
│ 6   │ 0.436172  │ 0.0416481 │ 0.81597   │ 0.0390458 │
│ 7   │ 0.786183  │ 0.800423  │ 0.487825  │ 0.0661021 │
│ 8   │ 0.473393  │ 0.761692  │ 0.187777  │ 0.683971  │
│ 9   │ 0.417283  │ 0.43573   │ 0.791492  │ 0.606003  │
│ 10  │ 0.0992364 │ 0.703291  │ 0.782124  │ 0.732874  │

# Writing and Reading Df

In [39]:
using DataFrames

In [40]:
df = DataFrame(A = [true, false, true], B = [25, 45, 67], C = ['a','b','c'])

3×3 DataFrame
│ Row │ A    │ B     │ C    │
│     │ Bool │ Int64 │ Char │
├─────┼──────┼───────┼──────┤
│ 1   │ 1    │ 25    │ 'a'  │
│ 2   │ 0    │ 45    │ 'b'  │
│ 3   │ 1    │ 67    │ 'c'  │

# Write to csv

In [41]:
Pkg.add("CSV")

   Updating registry at `C:\Users\bishw\.julia\registries\General`
  Resolving package versions...
  Installed SentinelArrays ─ v1.2.16
  Installed CSV ──────────── v0.7.7
Updating `C:\Users\bishw\.julia\environments\v1.5\Project.toml`
  [336ed68f] + CSV v0.7.7
Updating `C:\Users\bishw\.julia\environments\v1.5\Manifest.toml`
  [336ed68f] + CSV v0.7.7
  [91c51154] + SentinelArrays v1.2.16

In [6]:
using CSV

In [27]:
tail(df)

6×3 DataFrame
│ Row │ x1        │ x2        │ x3        │
│     │ Float64   │ Float64   │ Float64   │
├─────┼───────────┼───────────┼───────────┤
│ 1   │ 0.12567   │ 0.805258  │ 0.0496976 │
│ 2   │ 0.436172  │ 0.0416481 │ 0.81597   │
│ 3   │ 0.786183  │ 0.800423  │ 0.487825  │
│ 4   │ 0.473393  │ 0.761692  │ 0.187777  │
│ 5   │ 0.417283  │ 0.43573   │ 0.791492  │
│ 6   │ 0.0992364 │ 0.703291  │ 0.782124  │

In [46]:
CSV.write("test.csv",df)

"test.csv"

In [47]:
CSV.read("test.csv")

3×3 DataFrame
│ Row │ A    │ B     │ C      │
│     │ Bool │ Int64 │ String │
├─────┼──────┼───────┼────────┤
│ 1   │ 1    │ 25    │ a      │
│ 2   │ 0    │ 45    │ b      │
│ 3   │ 1    │ 67    │ c      │

# Serialization and deserialization

In [2]:
using Pkg

In [3]:
Pkg.add("Serialization")

   Updating registry at `C:\Users\bishw\.julia\registries\General`
  Resolving package versions...
Updating `C:\Users\bishw\.julia\environments\v1.5\Project.toml`
  [9e88b42a] + Serialization
No Changes to `C:\Users\bishw\.julia\environments\v1.5\Manifest.toml`

In [5]:
using Serialization

In [7]:
df = CSV.read("test.csv")

3×3 DataFrame
│ Row │ A    │ B     │ C      │
│     │ Bool │ Int64 │ String │
├─────┼──────┼───────┼────────┤
│ 1   │ 1    │ 25    │ a      │
│ 2   │ 0    │ 45    │ b      │
│ 3   │ 1    │ 67    │ c      │

In [13]:
open("test_df.bin", "a+") do io
    serialize(io, df)
end

In [14]:
open(deserialize, "test_df.bin")

3×3 DataFrame
│ Row │ A    │ B     │ C      │
│     │ Bool │ Int64 │ String │
├─────┼──────┼───────┼────────┤
│ 1   │ 1    │ 25    │ a      │
│ 2   │ 0    │ 45    │ b      │
│ 3   │ 1    │ 67    │ c      │

# JSON Table

In [16]:
Pkg.add("JSONTables")

  Resolving package versions...
  Installed JSONTables ─ v1.0.0
  Installed JSON3 ────── v1.4.0
Updating `C:\Users\bishw\.julia\environments\v1.5\Project.toml`
  [b9914132] + JSONTables v1.0.0
Updating `C:\Users\bishw\.julia\environments\v1.5\Manifest.toml`
  [0f8b85d8] + JSON3 v1.4.0
  [b9914132] + JSONTables v1.0.0

In [18]:
using JSONTables

┌ Info: Precompiling JSONTables [b9914132-a727-11e9-1322-f18e41205b0b]
└ @ Base loading.jl:1278

In [20]:
open(io -> arraytable(io, df), "df.json","w")

80

In [21]:
open(jsontable, "df.json")

JSONTables.Table{false,JSON3.Array{JSON3.Object,Base.CodeUnits{UInt8,String},Array{UInt64,1}}}(JSON3.Object[{
   "A": true,
   "B": 25,
   "C": "a"
}, {
   "A": false,
   "B": 45,
   "C": "b"
}, {
   "A": true,
   "B": 67,
   "C": "c"
}])

# Converting json to dataframe

In [22]:
using DataFrames

In [23]:
open(jsontable, "df.json") |> DataFrame

3×3 DataFrame
│ Row │ A    │ B     │ C      │
│     │ Bool │ Int64 │ String │
├─────┼──────┼───────┼────────┤
│ 1   │ 1    │ 25    │ a      │
│ 2   │ 0    │ 45    │ b      │
│ 3   │ 1    │ 67    │ c      │

# Some more DataFrame ops

In [52]:
df1 = DataFrame(rand(4,5))

4×5 DataFrame
│ Row │ x1       │ x2       │ x3       │ x4       │ x5       │
│     │ Float64  │ Float64  │ Float64  │ Float64  │ Float64  │
├─────┼──────────┼──────────┼──────────┼──────────┼──────────┤
│ 1   │ 0.309907 │ 0.234871 │ 0.188315 │ 0.919124 │ 0.977102 │
│ 2   │ 0.183587 │ 0.364404 │ 0.184993 │ 0.997119 │ 0.729478 │
│ 3   │ 0.190888 │ 0.747084 │ 0.387466 │ 0.832611 │ 0.602587 │
│ 4   │ 0.149946 │ 0.735382 │ 0.479742 │ 0.424468 │ 0.609364 │

In [44]:
rename(df1, :x1 => :c1, :x4 => :c4)

4×5 DataFrame
│ Row │ c1       │ x2       │ x3       │ c4        │ x5       │
│     │ Float64  │ Float64  │ Float64  │ Float64   │ Float64  │
├─────┼──────────┼──────────┼──────────┼───────────┼──────────┤
│ 1   │ 0.063174 │ 0.274018 │ 0.491558 │ 0.459215  │ 0.477774 │
│ 2   │ 0.950828 │ 0.408987 │ 0.6068   │ 0.0746983 │ 0.691915 │
│ 3   │ 0.771329 │ 0.212521 │ 0.113091 │ 0.682093  │ 0.417625 │
│ 4   │ 0.551821 │ 0.36225  │ 0.954696 │ 0.0398798 │ 0.768592 │

In [45]:
rename(df1, [:c1, :c2, :c3, :c4, :c5])

4×5 DataFrame
│ Row │ c1       │ c2       │ c3       │ c4        │ c5       │
│     │ Float64  │ Float64  │ Float64  │ Float64   │ Float64  │
├─────┼──────────┼──────────┼──────────┼───────────┼──────────┤
│ 1   │ 0.063174 │ 0.274018 │ 0.491558 │ 0.459215  │ 0.477774 │
│ 2   │ 0.950828 │ 0.408987 │ 0.6068   │ 0.0746983 │ 0.691915 │
│ 3   │ 0.771329 │ 0.212521 │ 0.113091 │ 0.682093  │ 0.417625 │
│ 4   │ 0.551821 │ 0.36225  │ 0.954696 │ 0.0398798 │ 0.768592 │

In [46]:
rename(df1, string.('a':'e'))

4×5 DataFrame
│ Row │ a        │ b        │ c        │ d         │ e        │
│     │ Float64  │ Float64  │ Float64  │ Float64   │ Float64  │
├─────┼──────────┼──────────┼──────────┼───────────┼──────────┤
│ 1   │ 0.063174 │ 0.274018 │ 0.491558 │ 0.459215  │ 0.477774 │
│ 2   │ 0.950828 │ 0.408987 │ 0.6068   │ 0.0746983 │ 0.691915 │
│ 3   │ 0.771329 │ 0.212521 │ 0.113091 │ 0.682093  │ 0.417625 │
│ 4   │ 0.551821 │ 0.36225  │ 0.954696 │ 0.0398798 │ 0.768592 │

# Concat two dfs

In [53]:
df2 = DataFrame(rand(4,5))

4×5 DataFrame
│ Row │ x1       │ x2       │ x3        │ x4       │ x5        │
│     │ Float64  │ Float64  │ Float64   │ Float64  │ Float64   │
├─────┼──────────┼──────────┼───────────┼──────────┼───────────┤
│ 1   │ 0.783719 │ 0.335515 │ 0.788743  │ 0.343894 │ 0.530094  │
│ 2   │ 0.182523 │ 0.619329 │ 0.819596  │ 0.885777 │ 0.0530521 │
│ 3   │ 0.885176 │ 0.189807 │ 0.248694  │ 0.662605 │ 0.926863  │
│ 4   │ 0.410989 │ 0.713635 │ 0.0263261 │ 0.126628 │ 0.380239  │

In [48]:
rename!(df1, string.('a':'e'))

4×5 DataFrame
│ Row │ a        │ b        │ c        │ d         │ e        │
│     │ Float64  │ Float64  │ Float64  │ Float64   │ Float64  │
├─────┼──────────┼──────────┼──────────┼───────────┼──────────┤
│ 1   │ 0.063174 │ 0.274018 │ 0.491558 │ 0.459215  │ 0.477774 │
│ 2   │ 0.950828 │ 0.408987 │ 0.6068   │ 0.0746983 │ 0.691915 │
│ 3   │ 0.771329 │ 0.212521 │ 0.113091 │ 0.682093  │ 0.417625 │
│ 4   │ 0.551821 │ 0.36225  │ 0.954696 │ 0.0398798 │ 0.768592 │

In [49]:
rename!(df2, string.('f':'j'))

4×5 DataFrame
│ Row │ f        │ g        │ h         │ i         │ j        │
│     │ Float64  │ Float64  │ Float64   │ Float64   │ Float64  │
├─────┼──────────┼──────────┼───────────┼───────────┼──────────┤
│ 1   │ 0.382677 │ 0.482916 │ 0.985104  │ 0.721872  │ 0.618449 │
│ 2   │ 0.607806 │ 0.945204 │ 0.833567  │ 0.0187271 │ 0.973369 │
│ 3   │ 0.482982 │ 0.821117 │ 0.731251  │ 0.839938  │ 0.753411 │
│ 4   │ 0.270513 │ 0.26225  │ 0.0958486 │ 0.116687  │ 0.991091 │

In [50]:
hcat(df1, df2)

4×10 DataFrame. Omitted printing of 4 columns
│ Row │ a        │ b        │ c        │ d         │ e        │ f        │
│     │ Float64  │ Float64  │ Float64  │ Float64   │ Float64  │ Float64  │
├─────┼──────────┼──────────┼──────────┼───────────┼──────────┼──────────┤
│ 1   │ 0.063174 │ 0.274018 │ 0.491558 │ 0.459215  │ 0.477774 │ 0.382677 │
│ 2   │ 0.950828 │ 0.408987 │ 0.6068   │ 0.0746983 │ 0.691915 │ 0.607806 │
│ 3   │ 0.771329 │ 0.212521 │ 0.113091 │ 0.682093  │ 0.417625 │ 0.482982 │
│ 4   │ 0.551821 │ 0.36225  │ 0.954696 │ 0.0398798 │ 0.768592 │ 0.270513 │

In [54]:
hcat(df1, df2, makeunique = true)

4×10 DataFrame. Omitted printing of 4 columns
│ Row │ x1       │ x2       │ x3       │ x4       │ x5       │ x1_1     │
│     │ Float64  │ Float64  │ Float64  │ Float64  │ Float64  │ Float64  │
├─────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
│ 1   │ 0.309907 │ 0.234871 │ 0.188315 │ 0.919124 │ 0.977102 │ 0.783719 │
│ 2   │ 0.183587 │ 0.364404 │ 0.184993 │ 0.997119 │ 0.729478 │ 0.182523 │
│ 3   │ 0.190888 │ 0.747084 │ 0.387466 │ 0.832611 │ 0.602587 │ 0.885176 │
│ 4   │ 0.149946 │ 0.735382 │ 0.479742 │ 0.424468 │ 0.609364 │ 0.410989 │

In [56]:
vcat(df1, df2)

8×5 DataFrame
│ Row │ x1       │ x2       │ x3        │ x4       │ x5        │
│     │ Float64  │ Float64  │ Float64   │ Float64  │ Float64   │
├─────┼──────────┼──────────┼───────────┼──────────┼───────────┤
│ 1   │ 0.309907 │ 0.234871 │ 0.188315  │ 0.919124 │ 0.977102  │
│ 2   │ 0.183587 │ 0.364404 │ 0.184993  │ 0.997119 │ 0.729478  │
│ 3   │ 0.190888 │ 0.747084 │ 0.387466  │ 0.832611 │ 0.602587  │
│ 4   │ 0.149946 │ 0.735382 │ 0.479742  │ 0.424468 │ 0.609364  │
│ 5   │ 0.783719 │ 0.335515 │ 0.788743  │ 0.343894 │ 0.530094  │
│ 6   │ 0.182523 │ 0.619329 │ 0.819596  │ 0.885777 │ 0.0530521 │
│ 7   │ 0.885176 │ 0.189807 │ 0.248694  │ 0.662605 │ 0.926863  │
│ 8   │ 0.410989 │ 0.713635 │ 0.0263261 │ 0.126628 │ 0.380239  │

# One way to add new cols

In [58]:
df1.x5 = rand(4)

4-element Array{Float64,1}:
 0.15715465541229667
 0.9204325330151324
 0.9213583459884243
 0.427313902616421

In [59]:
df1

4×5 DataFrame
│ Row │ x1       │ x2       │ x3       │ x4       │ x5       │
│     │ Float64  │ Float64  │ Float64  │ Float64  │ Float64  │
├─────┼──────────┼──────────┼──────────┼──────────┼──────────┤
│ 1   │ 0.309907 │ 0.234871 │ 0.188315 │ 0.919124 │ 0.157155 │
│ 2   │ 0.183587 │ 0.364404 │ 0.184993 │ 0.997119 │ 0.920433 │
│ 3   │ 0.190888 │ 0.747084 │ 0.387466 │ 0.832611 │ 0.921358 │
│ 4   │ 0.149946 │ 0.735382 │ 0.479742 │ 0.424468 │ 0.427314 │

In [60]:
[df1 DataFrame(A = [1,3,4,5])]

4×6 DataFrame
│ Row │ x1       │ x2       │ x3       │ x4       │ x5       │ A     │
│     │ Float64  │ Float64  │ Float64  │ Float64  │ Float64  │ Int64 │
├─────┼──────────┼──────────┼──────────┼──────────┼──────────┼───────┤
│ 1   │ 0.309907 │ 0.234871 │ 0.188315 │ 0.919124 │ 0.157155 │ 1     │
│ 2   │ 0.183587 │ 0.364404 │ 0.184993 │ 0.997119 │ 0.920433 │ 3     │
│ 3   │ 0.190888 │ 0.747084 │ 0.387466 │ 0.832611 │ 0.921358 │ 4     │
│ 4   │ 0.149946 │ 0.735382 │ 0.479742 │ 0.424468 │ 0.427314 │ 5     │

In [61]:
[DataFrame(A = [1,3,4,5]) df1 ]

4×6 DataFrame
│ Row │ A     │ x1       │ x2       │ x3       │ x4       │ x5       │
│     │ Int64 │ Float64  │ Float64  │ Float64  │ Float64  │ Float64  │
├─────┼───────┼──────────┼──────────┼──────────┼──────────┼──────────┤
│ 1   │ 1     │ 0.309907 │ 0.234871 │ 0.188315 │ 0.919124 │ 0.157155 │
│ 2   │ 3     │ 0.183587 │ 0.364404 │ 0.184993 │ 0.997119 │ 0.920433 │
│ 3   │ 4     │ 0.190888 │ 0.747084 │ 0.387466 │ 0.832611 │ 0.921358 │
│ 4   │ 5     │ 0.149946 │ 0.735382 │ 0.479742 │ 0.424468 │ 0.427314 │

In [62]:
insertcols!(df1, 3, newcol = [1,2,3,4] )

4×6 DataFrame
│ Row │ x1       │ x2       │ newcol │ x3       │ x4       │ x5       │
│     │ Float64  │ Float64  │ Int64  │ Float64  │ Float64  │ Float64  │
├─────┼──────────┼──────────┼────────┼──────────┼──────────┼──────────┤
│ 1   │ 0.309907 │ 0.234871 │ 1      │ 0.188315 │ 0.919124 │ 0.157155 │
│ 2   │ 0.183587 │ 0.364404 │ 2      │ 0.184993 │ 0.997119 │ 0.920433 │
│ 3   │ 0.190888 │ 0.747084 │ 3      │ 0.387466 │ 0.832611 │ 0.921358 │
│ 4   │ 0.149946 │ 0.735382 │ 4      │ 0.479742 │ 0.424468 │ 0.427314 │

In [70]:
df1[:,[:x2,:x3]]

4×2 DataFrame
│ Row │ x2       │ x3       │
│     │ Float64  │ Float64  │
├─────┼──────────┼──────────┤
│ 1   │ 0.234871 │ 0.188315 │
│ 2   │ 0.364404 │ 0.184993 │
│ 3   │ 0.747084 │ 0.387466 │
│ 4   │ 0.735382 │ 0.479742 │

In [71]:
cp_df1 = copy(df1)

4×6 DataFrame
│ Row │ x1       │ x2       │ newcol │ x3       │ x4       │ x5       │
│     │ Float64  │ Float64  │ Int64  │ Float64  │ Float64  │ Float64  │
├─────┼──────────┼──────────┼────────┼──────────┼──────────┼──────────┤
│ 1   │ 0.309907 │ 0.234871 │ 1      │ 0.188315 │ 0.919124 │ 0.157155 │
│ 2   │ 0.183587 │ 0.364404 │ 2      │ 0.184993 │ 0.997119 │ 0.920433 │
│ 3   │ 0.190888 │ 0.747084 │ 3      │ 0.387466 │ 0.832611 │ 0.921358 │
│ 4   │ 0.149946 │ 0.735382 │ 4      │ 0.479742 │ 0.424468 │ 0.427314 │

In [72]:
df1 == cp_df1

true

In [73]:
sort(df1, :x1)

4×6 DataFrame
│ Row │ x1       │ x2       │ newcol │ x3       │ x4       │ x5       │
│     │ Float64  │ Float64  │ Int64  │ Float64  │ Float64  │ Float64  │
├─────┼──────────┼──────────┼────────┼──────────┼──────────┼──────────┤
│ 1   │ 0.149946 │ 0.735382 │ 4      │ 0.479742 │ 0.424468 │ 0.427314 │
│ 2   │ 0.183587 │ 0.364404 │ 2      │ 0.184993 │ 0.997119 │ 0.920433 │
│ 3   │ 0.190888 │ 0.747084 │ 3      │ 0.387466 │ 0.832611 │ 0.921358 │
│ 4   │ 0.309907 │ 0.234871 │ 1      │ 0.188315 │ 0.919124 │ 0.157155 │

In [74]:
deleterows!(df1, 4)

3×6 DataFrame
│ Row │ x1       │ x2       │ newcol │ x3       │ x4       │ x5       │
│     │ Float64  │ Float64  │ Int64  │ Float64  │ Float64  │ Float64  │
├─────┼──────────┼──────────┼────────┼──────────┼──────────┼──────────┤
│ 1   │ 0.309907 │ 0.234871 │ 1      │ 0.188315 │ 0.919124 │ 0.157155 │
│ 2   │ 0.183587 │ 0.364404 │ 2      │ 0.184993 │ 0.997119 │ 0.920433 │
│ 3   │ 0.190888 │ 0.747084 │ 3      │ 0.387466 │ 0.832611 │ 0.921358 │

In [76]:
filter(r -> r.x1 > 0.6, df2)

2×5 DataFrame
│ Row │ x1       │ x2       │ x3       │ x4       │ x5       │
│     │ Float64  │ Float64  │ Float64  │ Float64  │ Float64  │
├─────┼──────────┼──────────┼──────────┼──────────┼──────────┤
│ 1   │ 0.783719 │ 0.335515 │ 0.788743 │ 0.343894 │ 0.530094 │
│ 2   │ 0.885176 │ 0.189807 │ 0.248694 │ 0.662605 │ 0.926863 │